body{
    background-image: url("https://i.pinimg.com/originals/68/bb/42/68bb421559642364cfb46129d2c46145.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    margin-top: 15%;
    text-align: center;
    padding-right: 5%;
}
ul{
    list-style: none;
}
nav:nth-child(2){
    margin-top: 10%;
}
nav:nth-child(2) ul{
    background-color: #FF6429;
}
nav:nth-child(2) ul li{
    display: inline-block;
    margin:0 10% 0 10%;
    text-decoration: none;
    background-color: #E8A825;
    width: 10%;
    text-align: center;
   
}
a{
    text-decoration: none;
    color: red;
    font-size: 35px;
    
    
    
}
article{
    margin-top: 5%;
    text-align: center;
    
}
article h3{
    font-size: 34px;
    background-color: yellow;
    width: fit-content;
margin: auto;
}
article p{
    font-size: 29px;
    color: orange;
    background-color: aqua;
}
.indextable{
    margin: auto;
    color: darkslategrey;
    font-size: 25px;
    background-color: aqua;
}
th{
    border-bottom: 5px dotted darkslategrey;
}



/* .icon{
    display: none;
    
} */

img {
	max-width: 240px;
	width: 100%;
    height: 100px;
    float: left;
        display: block;
        margin:3px;
        border-radius: 20px;

	
    }
   
.galaryNav ul{
    
    text-align: center;
    background-color: yellow;
    margin-bottom: 3%;
    border-radius: 15px;
    
}
.galaryNav li{
   margin-bottom: 3%;
    
}
