body{
    background-color: lightblue;
}
p:first-child{
    text-align: center;
    margin-top: 5%;
    font-size: 67px;
    background-color: #f3f3f3;
    width: fit-content;
    margin-left: 44%;
}

article{
    background-color: red;
    width: 18%;
    margin-right: 2%;
    float: left;
}
article p{
    color: green;
    background-color: grey;
    font-size: 24px;
}


h2{text-align: center;
    font-size: 40px;
    background-color: yellow;
}

article:nth-child(2n){
    background-color: orange;
}
ul{
    display: block;
    text-decoration: none;
    list-style: none;
}

li{
    font-size: 24px;
    
    text-align: left;
    text-decoration: dashed;
    /* display: inline; */
}
h2{
/* float: left;
margin-right: 15%; */
}
/* article ul{
    
    background-color: yellow;
    width: 20%;
    border: 3px dashed blue;
    margin-left: 40%;
    display: inline-block;
} */